@import "./Navbar.scss";
@import "./variables.scss";
@import "./project.scss";

:root {
  font-size: $font-size;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body,
main,
#__next,
#content {
  background-color: $bg;
  color: $font;
  height: 100%;
}

main {
  padding: 0 $x-padding;
}

section {
  height: 100%;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}

#projects {
  height: fit-content;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p,
li {
  font-size: 1rem;
  padding: 10px 0;
}

ul {
  list-style-type: none;
}

.title {
  color: #03dac6;
}

.button-wrapper {
  padding-top: 20px;
}

.button {
  padding: 8px 24px;
  color: $secondary;
  border: 1px solid $secondary;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  box-shadow: 5px 5px $secondary-variant;

  &:hover {
    background-color: $bg-hover;
  }

  &:active {
    background-color: $secondary-variant;
    color: $bg;
  }
}

#landing {
  padding-top: 50px;
}

// #landing,
// #about {
//   scroll-margin-top: 2em;
// }

// .image-wrapper {
//   height: 250px;
//   width: 250px;
//   justify-self: center;
// }

// .avatar {
//   border-radius: 50%;
//   transform: rotate(-90deg);
//   transform: scaleX(1);
//   height: 100%;
//   box-sizing: border-box;
//   width: 100%;
// }

/* About */

.technologies-list {
  display: flex;
  padding: 0;
  width: 100%;

  .left-col {
    padding-right: 10px;
  }

  li::before {
    content: "♢";
    margin-right: 5px;
    color: $secondary-variant;
    :focus {
      background-color: $secondary;
      color: $font;
    }
  }
}

/* Contact */

.contact-buttons {
  display: flex;
  padding: $x-padding;
  justify-content: space-around;
  width: 100%;

  .contact {
    svg {
      height: 50px;
      width: 50px;
      color: $secondary-variant;

      path {
        fill: $secondary-variant;
      }
    }
  }
}

.linkedin {
  svg {
    path:nth-child(2) {
      fill: $bg !important;
    }
  }
}

#projects {
  li {
    list-style: none;

    .project__title {
      color: $secondary-variant;
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 35px;
      text-decoration: underline;

      .link__icon {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 0;
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

// @media (max-width: $mobile) {

// }

// @media (min-width: $mobile) and (max-width: $tablet) {
//   :root {
//     font-size: 100%;
//   }
// }

// @media (min-width: $tablet) and (max-width: $laptop) {
//   :root {
//     font-size: 120%;
//   }
// }

// @media (min-width: $laptop) {
//   :root {
//     font-size: 140%;
//   }

//   main {
//     padding: 0 calc($x-padding * 10);
//     scroll-margin-top: 0;
//   }
// }
