$primary: #6200ee;
$primary-variant: #3700b3;
$secondary: #03dac6;
$secondary-variant: #018786;
$font: #ccd6f6;
$bg: #121212;
$bg-hover: #1a1a1a;

$font-size: 16px;
$x-padding: 40px;

// Breakpoints
$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$four-k: 2560px;
